/* COMMON */
body {
  margin: 0;
}
.page {
  position: relative;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../images/anonymous-server-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    -180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.35) 50%
  );
}
.page__wrapper {
  margin: 0 60px 0 60px;
}
/* HEADER */
.page__header {
  font-family: "Roboto Slab", serif;
  font-size: 36px;
  z-index: 6;
  position: fixed;
  top: 0;
}
.nav-trigger {
  position: fixed;
  top: 30px;
  right: 30px;
  height: 37px;
  width: 37px;
  background-image: url("../images/ico-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  color: transparent;
  border: none;
  border-radius: 4px;
  padding: 0;
}
.nav-close {
  position: fixed;
  top: 30px;
  right: 30px;
  height: 37px;
  width: 37px;
  background-image: url("../images/ico-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  color: transparent;
  border: none;
  border-radius: 4px;
  padding: 0;
}

/* MENU */
.nav {
  background-color: rgba(64, 41, 41, 0.92);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hidden {
  display: none;
}
.nav__items {
  list-style: none;
  padding: 0px;
  text-align: center;
}
.nav__item {
  margin-bottom: 20px;
}
.nav__link {
  position: relative;
  display: block;
  text-decoration: none;
  color: #d7d5d5;
  letter-spacing: 0.1rem;
}
.nav__link:after,
.nav__link:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 10px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35);
}

.nav__link:before {
  left: -2.5px;
}
.nav__link:after {
  right: 2.5px;
  background: rgba(0, 0, 0, 0.4);
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav__link:hover:before {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav__link:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
/* MAIN */
.page__main {
  position: absolute;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  color: #eeeeee;
  max-width: 990px;
}
.page__main .page__wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page__main-title {
  word-spacing: 100vw;
  font-size: 82px;
}

/* FOOTER */
.page__footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  color: #acacac;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 0.1rem;
}
.page__footer-copy {
  background-color: rgb(255, 255, 255, 0.25);
  border-radius: 6px;
  padding: 14px;
  font-size: 0.8rem;
}
